# Load and inspect the data.

In [40]:
import pandas as pd #we are importing pandas

In [41]:
filepath= "Group Data/crop census.csv"#we are loading our csv file into jupyter notebook
df=pd.read_csv(filepath)

In [42]:
df.head() #we are inspeting the 1st five rows

,County/Sub County,Total,Farming,Crop Production,Livestock Production,Aquaculture,Fishing,Irrigation,Maize,Sorghum,...,Camels,Donkeys,Pigs,Indigenous Chicken,Exotic Chicken Layers,Exotic Chicken Broilers,Beehives,Rabbits,Fish Ponds,Fish Cages
0,KENYA,12143913,6354211.0,5555974,4729288,29325,109640,369679,5104967.0,904945.0,...,167666.0,500682,110383.0,3337700,194517,79461,201406,124122,22019.0,3361.0
1,MOMBASA,378422,12497.0,7218,8749,128,1409,958,5681.0,NaN,...,6.0,36,134.0,6142,743,998,68,186,83.0,24.0
2,CHANGAMWE,46614,618.0,230,476,6,62,36,108.0,NaN,...,0.0,1,7.0,350,53,78,1,14,6.0,0.0
3,JOMVU,53472,2418.0,1168,1810,12,132,209,895.0,NaN,...,0.0,11,37.0,1296,157,199,6,30,8.0,3.0
4,KISAUNI,88202,6257.0,4043,4269,67,492,402,3456.0,NaN,...,4.0,8,76.0,3016,280,411,41,79,37.0,11.0

#  Clean and prepare the data.

In [5]:
df[df.isnull().any(axis=1)] # we are findind the missing values from exact rows

,County/Sub County,Total,Farming,Crop Production,Livestock Production,Aquaculture,Fishing,Irrigation,Maize,Sorghum,...,Camels,Donkeys,Pigs,Indigenous Chicken,Exotic Chicken Layers,Exotic Chicken Broilers,Beehives,Rabbits,Fish Ponds,Fish Cages
1,MOMBASA,378422,12497.0,7218,8749,128,1409,958,5681.0,NaN,...,6.0,36,134.0,6142,743,998,68,186,83.0,24.0
2,CHANGAMWE,46614,618.0,230,476,6,62,36,108.0,NaN,...,0.0,1,7.0,350,53,78,1,14,6.0,0.0
3,JOMVU,53472,2418.0,1168,1810,12,132,209,895.0,NaN,...,0.0,11,37.0,1296,157,199,6,30,8.0,3.0
4,KISAUNI,88202,6257.0,4043,4269,67,492,402,3456.0,NaN,...,4.0,8,76.0,3016,280,411,41,79,37.0,11.0
5,LIKONI,81191,1863.0,1136,1282,21,439,143,863.0,NaN,...,0.0,5,7.0,870,124,140,11,33,16.0,7.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
388,MAKADARA,70361,639.0,199,503,4,14,45,106.0,NaN,...,5.0,51,371.0,106,63,4,34,2,1.0,NaN
389,MATHARE,74967,735.0,298,560,6,28,62,178.0,0.0,...,15.0,42,381.0,120,69,12,33,4,2.0,NaN
390,NJIRU,204563,10642.0,4642,8484,46,117,886,2950.0,0.0,...,141.0,364,6636.0,1125,607,20,418,39,5.0,NaN
391,STAREHE,69389,483.0,279,316,14,22,63,158.0,NaN,...,7.0,10,230.0,57,34,9,19,7,2.0,NaN
392,WESTLANDS,104980,1800.0,1292,902,37,70,303,738.0,NaN,...,4.0,48,584.0,162,81,13,47,27,9.0,NaN

In [6]:
df.columns # we are dispaying all the columns in our data set

Index(['County/Sub County', 'Total', 'Farming', 'Crop Production',
       'Livestock Production', 'Aquaculture', 'Fishing', 'Irrigation', 'Maize',
       'Sorghum', 'Rice', 'Potatoes', 'Beans', 'Cassava', 'Sweet Potatoes',
       'Wheat', 'Green grams', 'Bananas', 'Cabbages', 'Tomatoes', 'Onions',
       'Ground Nuts', 'Millet', 'Watermelons', 'Kales', 'Sugarcane', 'Cotton',
       'Exotic cattle 0Dairy', 'Exotic cattle 0Beef', 'Indigenous cattle',
       'Sheep', 'Goats', 'Camels', 'Donkeys', 'Pigs', 'Indigenous Chicken',
       'Exotic Chicken Layers', 'Exotic Chicken Broilers', 'Beehives',
       'Rabbits', 'Fish Ponds', 'Fish Cages'],
      dtype='object')

In [7]:
average=0
df.fillna(value={'Total':average,'Farming':average,'Crop Production':average},inplace=True)#filling the blank spacs with 0

In [8]:
df[df.isnull().any(axis=1)]

,County/Sub County,Total,Farming,Crop Production,Livestock Production,Aquaculture,Fishing,Irrigation,Maize,Sorghum,...,Camels,Donkeys,Pigs,Indigenous Chicken,Exotic Chicken Layers,Exotic Chicken Broilers,Beehives,Rabbits,Fish Ponds,Fish Cages
1,MOMBASA,378422,12497.0,7218,8749,128,1409,958,5681.0,NaN,...,6.0,36,134.0,6142,743,998,68,186,83.0,24.0
2,CHANGAMWE,46614,618.0,230,476,6,62,36,108.0,NaN,...,0.0,1,7.0,350,53,78,1,14,6.0,0.0
3,JOMVU,53472,2418.0,1168,1810,12,132,209,895.0,NaN,...,0.0,11,37.0,1296,157,199,6,30,8.0,3.0
4,KISAUNI,88202,6257.0,4043,4269,67,492,402,3456.0,NaN,...,4.0,8,76.0,3016,280,411,41,79,37.0,11.0
5,LIKONI,81191,1863.0,1136,1282,21,439,143,863.0,NaN,...,0.0,5,7.0,870,124,140,11,33,16.0,7.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
388,MAKADARA,70361,639.0,199,503,4,14,45,106.0,NaN,...,5.0,51,371.0,106,63,4,34,2,1.0,NaN
389,MATHARE,74967,735.0,298,560,6,28,62,178.0,0.0,...,15.0,42,381.0,120,69,12,33,4,2.0,NaN
390,NJIRU,204563,10642.0,4642,8484,46,117,886,2950.0,0.0,...,141.0,364,6636.0,1125,607,20,418,39,5.0,NaN
391,STAREHE,69389,483.0,279,316,14,22,63,158.0,NaN,...,7.0,10,230.0,57,34,9,19,7,2.0,NaN
392,WESTLANDS,104980,1800.0,1292,902,37,70,303,738.0,NaN,...,4.0,48,584.0,162,81,13,47,27,9.0,NaN

In [9]:
average=0
df.fillna(value={'Sorghum':average,'Fish Cages':average},inplace=True)

In [10]:
df[df.isnull().any(axis=1)]

,County/Sub County,Total,Farming,Crop Production,Livestock Production,Aquaculture,Fishing,Irrigation,Maize,Sorghum,...,Camels,Donkeys,Pigs,Indigenous Chicken,Exotic Chicken Layers,Exotic Chicken Broilers,Beehives,Rabbits,Fish Ponds,Fish Cages
1,MOMBASA,378422,12497.0,7218,8749,128,1409,958,5681.0,0.0,...,6.0,36,134.0,6142,743,998,68,186,83.0,24.0
2,CHANGAMWE,46614,618.0,230,476,6,62,36,108.0,0.0,...,0.0,1,7.0,350,53,78,1,14,6.0,0.0
3,JOMVU,53472,2418.0,1168,1810,12,132,209,895.0,0.0,...,0.0,11,37.0,1296,157,199,6,30,8.0,3.0
4,KISAUNI,88202,6257.0,4043,4269,67,492,402,3456.0,0.0,...,4.0,8,76.0,3016,280,411,41,79,37.0,11.0
5,LIKONI,81191,1863.0,1136,1282,21,439,143,863.0,0.0,...,0.0,5,7.0,870,124,140,11,33,16.0,7.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
388,MAKADARA,70361,639.0,199,503,4,14,45,106.0,0.0,...,5.0,51,371.0,106,63,4,34,2,1.0,0.0
389,MATHARE,74967,735.0,298,560,6,28,62,178.0,0.0,...,15.0,42,381.0,120,69,12,33,4,2.0,0.0
390,NJIRU,204563,10642.0,4642,8484,46,117,886,2950.0,0.0,...,141.0,364,6636.0,1125,607,20,418,39,5.0,0.0
391,STAREHE,69389,483.0,279,316,14,22,63,158.0,0.0,...,7.0,10,230.0,57,34,9,19,7,2.0,0.0
392,WESTLANDS,104980,1800.0,1292,902,37,70,303,738.0,0.0,...,4.0,48,584.0,162,81,13,47,27,9.0,0.0

In [11]:
df[df.duplicated()]#finding the duplicates

Empty DataFrame
Columns: [County/Sub County, Total, Farming, Crop Production, Livestock Production, Aquaculture, Fishing, Irrigation, Maize, Sorghum, Rice, Potatoes, Beans, Cassava, Sweet Potatoes, Wheat, Green grams, Bananas, Cabbages, Tomatoes, Onions, Ground Nuts, Millet, Watermelons, Kales, Sugarcane, Cotton, Exotic cattle 0Dairy, Exotic cattle 0Beef, Indigenous cattle, Sheep, Goats, Camels, Donkeys, Pigs, Indigenous Chicken, Exotic Chicken Layers, Exotic Chicken Broilers, Beehives, Rabbits, Fish Ponds, Fish Cages]
Index: []

[0 rows x 42 columns]

In [12]:
df.describe()

,Total,Farming,Crop Production,Livestock Production,Aquaculture,Fishing,Irrigation,Maize,Sorghum,Rice,...,Camels,Donkeys,Pigs,Indigenous Chicken,Exotic Chicken Layers,Exotic Chicken Broilers,Beehives,Rabbits,Fish Ponds,Fish Cages
count,3.930000e+02,3.930000e+02,3.930000e+02,3.930000e+02,393.000000,393.000000,393.000000,3.910000e+02,393.000000,217.000000,...,385.000000,393.000000,390.000000,3.930000e+02,393.000000,393.000000,393.000000,393.000000,390.000000,393.000000
mean,9.270163e+04,4.850543e+04,7.407841e+04,3.610144e+04,223.854962,836.946565,2821.977099,3.916854e+04,6907.977099,6557.225806,...,1473.511688,3964.737913,6670.417949,1.969160e+04,1305.320611,570.231552,1551.882952,900.142494,129.648718,17.666667
std,6.196723e+05,3.223965e+05,6.869665e+05,2.398420e+05,1492.418005,5706.647400,19051.821044,2.602191e+05,46620.544573,15058.881226,...,9282.055434,26175.388892,20039.376584,1.691587e+05,9888.025527,4041.608738,10399.786776,6412.516031,1118.175893,169.992582
min,1.100000e+01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000,1.000000e+00,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2.194700e+04,1.213900e+04,8.461000e+03,9.128000e+03,40.000000,80.000000,300.000000,6.827000e+03,137.000000,245.000000,...,3.000000,51.000000,11.000000,6.770000e+02,162.000000,70.000000,104.000000,42.000000,11.000000,0.000000
50%,3.302500e+04,2.067800e+04,1.898400e+04,1.537900e+04,77.000000,134.000000,640.000000,1.692600e+04,1445.000000,1764.000000,...,13.000000,564.000000,131.500000,5.852000e+03,345.000000,190.000000,324.000000,114.000000,33.000000,3.000000
75%,5.070400e+04,2.851400e+04,2.573200e+04,2.074900e+04,137.000000,288.000000,1609.000000,2.407250e+04,4485.000000,7269.000000,...,286.000000,2735.000000,6632.750000,1.235100e+04,891.000000,362.000000,998.000000,488.000000,75.000000,9.000000
max,1.214391e+07,6.354211e+06,1.245735e+07,4.729288e+06,29325.000000,109640.000000,369679.000000,5.104967e+06,904945.000000,140998.000000,...,167666.000000,500682.000000,197524.000000,3.337700e+06,194517.000000,79461.000000,201406.000000,124122.000000,22019.000000,3361.000000

In [13]:
df.isnull()

,County/Sub County,Total,Farming,Crop Production,Livestock Production,Aquaculture,Fishing,Irrigation,Maize,Sorghum,...,Camels,Donkeys,Pigs,Indigenous Chicken,Exotic Chicken Layers,Exotic Chicken Broilers,Beehives,Rabbits,Fish Ponds,Fish Cages
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
388,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
389,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
390,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
391,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
392,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [14]:
df.drop(columns=['Cotton'], inplace=True) #we are dropping column cotton

In [15]:
df.head()

,County/Sub County,Total,Farming,Crop Production,Livestock Production,Aquaculture,Fishing,Irrigation,Maize,Sorghum,...,Camels,Donkeys,Pigs,Indigenous Chicken,Exotic Chicken Layers,Exotic Chicken Broilers,Beehives,Rabbits,Fish Ponds,Fish Cages
0,KENYA,12143913,6354211.0,5555974,4729288,29325,109640,369679,5104967.0,904945.0,...,167666.0,500682,110383.0,3337700,194517,79461,201406,124122,22019.0,3361.0
1,MOMBASA,378422,12497.0,7218,8749,128,1409,958,5681.0,0.0,...,6.0,36,134.0,6142,743,998,68,186,83.0,24.0
2,CHANGAMWE,46614,618.0,230,476,6,62,36,108.0,0.0,...,0.0,1,7.0,350,53,78,1,14,6.0,0.0
3,JOMVU,53472,2418.0,1168,1810,12,132,209,895.0,0.0,...,0.0,11,37.0,1296,157,199,6,30,8.0,3.0
4,KISAUNI,88202,6257.0,4043,4269,67,492,402,3456.0,0.0,...,4.0,8,76.0,3016,280,411,41,79,37.0,11.0

In [21]:
df.to_csv('Group Data/cleanedpdata.csv', index=False) #for exporting data to excel files

In [22]:
df.fillna(value=0,inplace=True)

In [23]:
df.to_csv('Group Data/cleaned_groupdata.csv', index=False)

In [24]:
df

,County/Sub County,Total,Farming,Crop Production,Livestock Production,Aquaculture,Fishing,Irrigation,Maize,Sorghum,...,Camels,Donkeys,Pigs,Indigenous Chicken,Exotic Chicken Layers,Exotic Chicken Broilers,Beehives,Rabbits,Fish Ponds,Fish Cages
0,KENYA,12143913,6354211.0,5555974,4729288,29325,109640,369679,5104967.0,904945.0,...,167666.0,500682,110383.0,3337700,194517,79461,201406,124122,22019.0,3361.0
1,MOMBASA,378422,12497.0,7218,8749,128,1409,958,5681.0,0.0,...,6.0,36,134.0,6142,743,998,68,186,83.0,24.0
2,CHANGAMWE,46614,618.0,230,476,6,62,36,108.0,0.0,...,0.0,1,7.0,350,53,78,1,14,6.0,0.0
3,JOMVU,53472,2418.0,1168,1810,12,132,209,895.0,0.0,...,0.0,11,37.0,1296,157,199,6,30,8.0,3.0
4,KISAUNI,88202,6257.0,4043,4269,67,492,402,3456.0,0.0,...,4.0,8,76.0,3016,280,411,41,79,37.0,11.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
388,MAKADARA,70361,639.0,199,503,4,14,45,106.0,0.0,...,5.0,51,371.0,106,63,4,34,2,1.0,0.0
389,MATHARE,74967,735.0,298,560,6,28,62,178.0,0.0,...,15.0,42,381.0,120,69,12,33,4,2.0,0.0
390,NJIRU,204563,10642.0,4642,8484,46,117,886,2950.0,0.0,...,141.0,364,6636.0,1125,607,20,418,39,5.0,0.0
391,STAREHE,69389,483.0,279,316,14,22,63,158.0,0.0,...,7.0,10,230.0,57,34,9,19,7,2.0,0.0
392,WESTLANDS,104980,1800.0,1292,902,37,70,303,738.0,0.0,...,4.0,48,584.0,162,81,13,47,27,9.0,0.0

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 393 entries, 0 to 392
Data columns (total 41 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   County/Sub County        393 non-null    object
 1   Total                    393 non-null    int64
 2   Farming                  393 non-null    float64
 3   Crop Production          393 non-null    int64
 4   Livestock Production     393 non-null    int64
 5   Aquaculture              393 non-null    int64
 6   Fishing                  393 non-null    int64
 7   Irrigation               393 non-null    int64
 8   Maize                    393 non-null    float64
 9   Sorghum                  393 non-null    float64
 10  Rice                     393 non-null    float64
 11  Potatoes                 393 non-null    float64
 12  Beans                    393 non-null    float64
 13  Cassava                  393 non-null    float64
 14  Sweet Potatoes           393 non-null    float64
 15  Wheat                    393 non-null    float64
 16  Green grams              393 non-null    float64
 17  Bananas                  393 non-null    float64
 18  Cabbages                 393 non-null    float64
 19  Tomatoes                 393 non-null    float64
 20  Onions                   393 non-null    float64
 21  Ground Nuts              393 non-null    float64
 22  Millet                   393 non-null    float64
 23  Watermelons              393 non-null    float64
 24  Kales                    393 non-null    float64
 25  Sugarcane                393 non-null    float64
 26  Exotic cattle 0Dairy     393 non-null    int64
 27  Exotic cattle 0Beef      393 non-null    int64
 28  Indigenous cattle        393 non-null    int64
 29  Sheep                    393 non-null    int64
 30  Goats                    393 non-null    int64
 31  Camels                   393 non-null    float64
 32  Donkeys                  393 non-null    int64
 33  Pigs                     393 non-null    float64
 34  Indigenous Chicken       393 non-null    int64
 35  Exotic Chicken Layers    393 non-null    int64
 36  Exotic Chicken Broilers  393 non-null    int64
 37  Beehives                 393 non-null    int64
 38  Rabbits                  393 non-null    int64
 39  Fish Ponds               393 non-null    float64
 40  Fish Cages               393 non-null    float64
dtypes: float64(23), int64(17), object(1)
memory usage: 126.0+ KB

# Data Manipulation

In [26]:
df = df.rename(columns={
    'County/Sub County': 'SubCounty',
    'Total': 'Total_Population',
    'Farming': 'Farming_Activities',
    'Crop Production': 'Crop_Production',
    'Livestock Production': 'Livestock_Production',
    
}) #renaming columns

In [27]:
df.head()

,SubCounty,Total_Population,Farming_Activities,Crop_Production,Livestock_Production,Aquaculture,Fishing,Irrigation,Maize,Sorghum,...,Camels,Donkeys,Pigs,Indigenous Chicken,Exotic Chicken Layers,Exotic Chicken Broilers,Beehives,Rabbits,Fish Ponds,Fish Cages
0,KENYA,12143913,6354211.0,5555974,4729288,29325,109640,369679,5104967.0,904945.0,...,167666.0,500682,110383.0,3337700,194517,79461,201406,124122,22019.0,3361.0
1,MOMBASA,378422,12497.0,7218,8749,128,1409,958,5681.0,0.0,...,6.0,36,134.0,6142,743,998,68,186,83.0,24.0
2,CHANGAMWE,46614,618.0,230,476,6,62,36,108.0,0.0,...,0.0,1,7.0,350,53,78,1,14,6.0,0.0
3,JOMVU,53472,2418.0,1168,1810,12,132,209,895.0,0.0,...,0.0,11,37.0,1296,157,199,6,30,8.0,3.0
4,KISAUNI,88202,6257.0,4043,4269,67,492,402,3456.0,0.0,...,4.0,8,76.0,3016,280,411,41,79,37.0,11.0

In [28]:
grouped_df = df.groupby("SubCounty").sum()
print(grouped_df.head())

                      Total_Population  Farming_Activities  Crop_Production  \
SubCounty
ABERDARE FOREST                    112                 4.0                4
ABERDARE NATIONAL PA                11                 2.0                2
AINABKOI                         34892             17845.0            16705
ATHI RIVER                      109735             13071.0             9680
AWENDO                           27033             20101.0            19364

                      Livestock_Production  Aquaculture  Fishing  Irrigation  \
SubCounty
ABERDARE FOREST                          2            0        0           2
ABERDARE NATIONAL PA                     2            0        0           0
AINABKOI                             13513           69       88         640
ATHI RIVER                            9681           63      131        1751
AWENDO                               11848          108      176         233

                        Maize  Sorghum    Rice  ...  Camels  Donkeys    Pigs  \
SubCounty                                       ...
ABERDARE FOREST           2.0      0.0     0.0  ...     0.0        0     0.0
ABERDARE NATIONAL PA      1.0      0.0     2.0  ...     0.0        0     0.0
AINABKOI              15828.0    743.0  6235.0  ...     3.0      116    97.0
ATHI RIVER             8395.0    628.0   801.0  ...    10.0      840   103.0
AWENDO                18804.0   1635.0     0.0  ...    25.0      247  9900.0

                      Indigenous Chicken  Exotic Chicken Layers  \
SubCounty
ABERDARE FOREST                        1                      0
ABERDARE NATIONAL PA                   2                      2
AINABKOI                            8877                    790
ATHI RIVER                          7566                    706
AWENDO                               304                    125

                      Exotic Chicken Broilers  Beehives  Rabbits  Fish Ponds  \
SubCounty
ABERDARE FOREST                             0         0        0         0.0
ABERDARE NATIONAL PA                        1         0        0         0.0
AINABKOI                                  364       862      169        58.0
ATHI RIVER                                395       170      350        57.0
AWENDO                                     37       135      106         6.0

                      Fish Cages
SubCounty
ABERDARE FOREST              0.0
ABERDARE NATIONAL PA         0.0
AINABKOI                     8.0
ATHI RIVER                   5.0
AWENDO                       0.0

[5 rows x 40 columns]

In [29]:
grouped_df

,Total_Population,Farming_Activities,Crop_Production,Livestock_Production,Aquaculture,Fishing,Irrigation,Maize,Sorghum,Rice,...,Camels,Donkeys,Pigs,Indigenous Chicken,Exotic Chicken Layers,Exotic Chicken Broilers,Beehives,Rabbits,Fish Ponds,Fish Cages
SubCounty,,,,,,,,,,,,,,,,,,,,,
ABERDARE FOREST,112,4.0,4,2,0,0,2,2.0,0.0,0.0,...,0.0,0,0.0,1,0,0,0,0,0.0,0.0
ABERDARE NATIONAL PA,11,2.0,2,2,0,0,0,1.0,0.0,2.0,...,0.0,0,0.0,2,2,1,0,0,0.0,0.0
AINABKOI,34892,17845.0,16705,13513,69,88,640,15828.0,743.0,6235.0,...,3.0,116,97.0,8877,790,364,862,169,58.0,8.0
ATHI RIVER,109735,13071.0,9680,9681,63,131,1751,8395.0,628.0,801.0,...,10.0,840,103.0,7566,706,395,170,350,57.0,5.0
AWENDO,27033,20101.0,19364,11848,108,176,233,18804.0,1635.0,0.0,...,25.0,247,9900.0,304,125,37,135,106,6.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
WAJIR WEST,16362,8568.0,384,8450,217,117,40,159.0,44.0,0.0,...,4759.0,4978,0.0,989,65,41,10,1,0.0,0.0
WEBUYE WEST,32839,26624.0,25732,19484,120,249,511,24971.0,3511.0,0.0,...,8.0,564,16214.0,632,309,172,418,114,13.0,0.0
WEST POKOT,152523,114358.0,102513,98795,879,534,8930,97090.0,22606.0,13131.0,...,3646.0,4453,83.0,66403,3155,2000,19334,314,714.0,114.0
WESTLANDS,104980,1800.0,1292,902,37,70,303,738.0,0.0,0.0,...,4.0,48,584.0,162,81,13,47,27,9.0,0.0
YATTA,46153,32541.0,30588,26636,86,317,3099,29903.0,5108.0,287.0,...,12.0,5834,59.0,21653,585,309,1507,626,75.0,4.0

In [ ]:
'''
In Python, aggregation is a design principle that allows one object to contain or reference another object.
It's a form of object composition where an object is composed of one or more other objects, which it uses as its parts.
Aggregation represents a "has-a" relationship, meaning that an object "has a" reference toÂ anotherÂ object.
'''

In [30]:
df['Total_Agriculture'] = (df['Farming_Activities'] +
                           df['Crop_Production'] +
                           df['Livestock_Production'] +
                           df['Aquaculture'] +
                           df['Fishing'] +
                           df['Irrigation'])
print(df.head())

   SubCounty  Total_Population  Farming_Activities  Crop_Production  \
0      KENYA          12143913           6354211.0          5555974
1    MOMBASA            378422             12497.0             7218
2  CHANGAMWE             46614               618.0              230
3      JOMVU             53472              2418.0             1168
4    KISAUNI             88202              6257.0             4043

   Livestock_Production  Aquaculture  Fishing  Irrigation      Maize  \
0               4729288        29325   109640      369679  5104967.0
1                  8749          128     1409         958     5681.0
2                   476            6       62          36      108.0
3                  1810           12      132         209      895.0
4                  4269           67      492         402     3456.0

    Sorghum  ...  Donkeys      Pigs  Indigenous Chicken  \
0  904945.0  ...   500682  110383.0             3337700
1       0.0  ...       36     134.0                6142
2       0.0  ...        1       7.0                 350
3       0.0  ...       11      37.0                1296
4       0.0  ...        8      76.0                3016

   Exotic Chicken Layers  Exotic Chicken Broilers  Beehives  Rabbits  \
0                 194517                    79461    201406   124122
1                    743                      998        68      186
2                     53                       78         1       14
3                    157                      199         6       30
4                    280                      411        41       79

   Fish Ponds  Fish Cages  Total_Agriculture
0     22019.0      3361.0         17148117.0
1        83.0        24.0            30959.0
2         6.0         0.0             1428.0
3         8.0         3.0             5749.0
4        37.0        11.0            15530.0

[5 rows x 42 columns]

In [33]:
filtered_df = df[df['Sorghum'] > 1000]

In [34]:
filtered_df

,SubCounty,Total_Population,Farming_Activities,Crop_Production,Livestock_Production,Aquaculture,Fishing,Irrigation,Maize,Sorghum,...,Donkeys,Pigs,Indigenous Chicken,Exotic Chicken Layers,Exotic Chicken Broilers,Beehives,Rabbits,Fish Ponds,Fish Cages,Total_Agriculture
0,KENYA,12143913,6354211.0,5555974,4729288,29325,109640,369679,5104967.0,904945.0,...,500682,110383.0,3337700,194517,79461,201406,124122,22019.0,3361.0,17148117.0
8,KWALE,173176,108074.0,100020,72666,220,4452,2438,93143.0,2784.0,...,507,48.0,56196,962,836,573,179,201.0,57.0,287870.0
13,SAMBURU,35070,25272.0,23687,17336,35,802,434,22770.0,1234.0,...,51,7.0,13247,109,112,73,19,25.0,3.0,67566.0
14,KILIFI,298472,161188.0,149334,101983,366,6393,5643,143913.0,2911.0,...,1234,366.0,72134,1484,1807,611,524,333.0,50.0,424907.0
16,GANZE,23258,20578.0,19306,15777,41,158,442,18418.0,1273.0,...,59,3.0,12160,199,54,98,42,38.0,5.0,56302.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
376,BORABU,19468,10890.0,9747,8312,88,75,152,8241.0,1209.0,...,11,6433.0,942,283,169,97,84,20.0,0.0,29264.0
377,MANGA,23869,18096.0,16868,13024,78,92,269,14971.0,1566.0,...,2,10046.0,1011,321,156,177,77,5.0,0.0,48427.0
378,MASABANORTH,27913,20678.0,19241,15031,82,93,238,17087.0,1921.0,...,4,11684.0,867,259,117,130,76,9.0,0.0,55363.0
379,NYAMIRA NORTH,40446,31900.0,30306,22157,87,131,300,26777.0,2931.0,...,7,16364.0,1980,635,153,190,82,11.0,0.0,84881.0
380,NYAMIRA SOUTH,38973,28464.0,26694,20422,126,118,316,22254.0,3007.0,...,3,15175.0,1132,425,167,166,121,19.0,0.0,76140.0

In [48]:
filter = (
    (df['Maize'] > 1500) & 
    (df['Camels'] > 2000) & 
    (df['Beehives'] > 2500) & 
    (df['Fish Ponds'] > 1200)
)

filtered_df =df[filter]

In [49]:
filtered_df

,County/Sub County,Total,Farming,Crop Production,Livestock Production,Aquaculture,Fishing,Irrigation,Maize,Sorghum,...,Camels,Donkeys,Pigs,Indigenous Chicken,Exotic Chicken Layers,Exotic Chicken Broilers,Beehives,Rabbits,Fish Ponds,Fish Cages
0,KENYA,12143913,6354211.0,5555974,4729288,29325,109640,369679,5104967.0,904945.0,...,167666.0,500682,110383.0,3337700,194517,79461,201406,124122,22019.0,3361.0

In [50]:
df.values # array is collection/storage of data of the same data types

array([['KENYA', 12143913, 6354211.0, ..., 124122, 22019.0, 3361.0],
       ['MOMBASA', 378422, 12497.0, ..., 186, 83.0, 24.0],
       ['CHANGAMWE', 46614, 618.0, ..., 14, 6.0, 0.0],
       ...,
       ['NJIRU', 204563, 10642.0, ..., 39, 5.0, nan],
       ['STAREHE', 69389, 483.0, ..., 7, 2.0, nan],
       ['WESTLANDS', 104980, 1800.0, ..., 27, 9.0, nan]], dtype=object)

In [51]:
q1 = df["Irrigation"].quantile(0.25)
q3 = df["Irrigation"].quantile(0.75)
iqr= q3-q1
print(q1,q3,iqr)

300.0 1609.0 1309.0

In [52]:
lower_bond=q1-1.5*iqr

In [53]:
lower_bond

-1663.5

In [55]:
upper_bond=q3+1.5*iqr

In [56]:
upper_bond

3572.5

In [60]:
q1 = df["Total"].quantile(0.25)
q3 = df["Total"].quantile(0.75)
iqr= q3-q1
print(q1,q3,iqr)

21947.0 50704.0 28757.0

In [64]:
df.sort_values(by='Total',ascending=False)

,County/Sub County,Total,Farming,Crop Production,Livestock Production,Aquaculture,Fishing,Irrigation,Maize,Sorghum,...,Camels,Donkeys,Pigs,Indigenous Chicken,Exotic Chicken Layers,Exotic Chicken Broilers,Beehives,Rabbits,Fish Ponds,Fish Cages
0,KENYA,12143913,6354211.0,5555974,4729288,29325,109640,369679,5104967.0,904945.0,...,167666.0,500682,110383.0,3337700,194517,79461,201406,124122,22019.0,3361.0
381,NAIROBI,1506888,32258.0,16359,22818,279,697,3343,9867.0,NaN,...,286.0,1586,16471.0,3432,1813,154,1253,208,57.0,NaN
177,KIAMBU,795241,214052.0,177419,147137,417,1317,14835,144125.0,NaN,...,NaN,3891,9731.0,92248,14138,4156,1535,7577,379.0,52.0
248,NAKURU,616046,283652.0,261001,191468,565,2494,7942,243535.0,9613.0,...,61.0,15750,1700.0,140607,10631,3421,5935,7001,517.0,56.0
288,KAKAMEGA,433207,335269.0,321945,235264,2223,3184,4970,312670.0,24160.0,...,448.0,14057,197524.0,8854,3802,2335,3956,2110,253.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
267,MAU FOREST,32,NaN,0,0,0,0,0,NaN,NaN,...,0.0,0,0.0,0,0,0,0,0,0.0,0.0
166,MT. KENYA FOREST,23,8.0,6,4,0,0,0,3.0,NaN,...,0.0,0,0.0,3,0,0,0,0,0.0,0.0
100,MT. KENYA FOREST,19,NaN,0,0,0,0,0,NaN,NaN,...,0.0,0,0.0,0,0,0,0,0,0.0,0.0
308,KAKAMEGA FOREST,12,2.0,2,0,0,0,0,2.0,NaN,...,0.0,0,0.0,0,0,0,0,0,0.0,NaN
148,ABERDARE NATIONAL PA,11,2.0,2,2,0,0,0,1.0,NaN,...,0.0,0,0.0,2,2,1,0,0,0.0,0.0